---
layout: default
sidebar: true
---
    {% for post in paginator.posts %}

    <article class="blog-main">
        <h3 class="am-article-title blog-title">
            <a href="{{ site.base_url }}{{post.url}}">{{ post.title }}</a>
        </h3>
        <h4 class="am-article-meta blog-meta">
            <span class="am-badge am-badge-primary am-radius">原创</span>
            by <a href="">管宜尧</a>
            posted on {{ post.date | date_to_string }} under
            {% for cat in post.categories %}
            <a href="{{site.base_url}}/category.html#{{ cat }}-ref">{{ cat }}</a>
            {% endfor %}
        </h4>

        <div class="am-g">
            <div class="am-u-sm-12">
                {{ post.excerpt | markdownify }}
            </div>
        </div>
    </article>
    {% endfor %}
{% include paginator %}
