footer {
  background: none;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.blog-main h2 {
  font-size: 33px;
}
.blog-main h3 {
  font-size: 25px;
}
.blog-main h3.title {
  font-size: 33px;
  text-align: center;
}
.blog-main h4 {
  font-size: 20px;
}
.blog-main h5 {
  font-size: 16px;
}
.blog-main .info {
  padding-bottom: 15px;
  text-align: center;
}
.blog-main #blog_content {
  padding: 15px;
}
.blog-main #blog_content p {
  text-indent: 2em;
}
.blog-main img {
  max-width: 90%;
}
.blog-main .ai-link-rewrite h2 {
  font-size: 40px;
}
.blog-main .ai-link-rewrite h3 {
  font-size: 30px;
}
.blog-main .ai-link-rewrite h4 {
  font-size: 24px;
}
.blog-main .ai-link-rewrite h5 {
  font-size: 20px;
}
.ai-remark {
  margin-top: 30px;
  margin-bottom: 20px;
}
.ai-categories {
  margin-bottom: 38px;
}
.ai-articles .ai-article {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
  border-bottom: 1px solid #e6eaed;
}
.ai-articles .ai-article:last-child {
  border-bottom: none;
}
.ai-articles .ai-article:first-child {
  border-top: 1px solid #e6eaed;
}
.ai-articles .ai-article .ai-info {
  margin-bottom: 10px;
  height: 24px;
  line-height: 24px;
}
.ai-articles .ai-article .ai-thumb img {
  width: 140px;
  height: 140px;
}
.ai-articles .ai-article .media-body {
  padding-left: 16px;
}
.ai-logo {
  height: 40px;
  margin-bottom: 13px;
}
.ai-sidebar-erweima img {
  width: 200px;
}
