
footer {
  background: none;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.blog-main {
  img {
    width: 100%;
  }
}

.ai-articles {
  .ai-article {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6eaed;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      border-top: 1px solid #e6eaed;
    }

    .ai-info {
      margin-bottom: 10px;
      height: 24px;
      line-height: 24px;
      .ai-category {

      }
    }

    .ai-thumb {
      width: 140px;
      height: 140px;
    }
  }

}