---
layout: default
title: 测试文章
categories: [Java, PHP]
tags: [测试, Mac, 标签]
---


<h1>{{ page.title }}</h1>

<p>这是第一个测试文章</p>
{% highlight ruby linenos %}
def show
    @widget = Widget(params[:id])
    respond_to do |format|
      format.html # show.html.erb
      format.json { render json: @widget }
    end
end
{% endhighlight %}

<a href="{% post_url /2015-01-07-精品学习资源 %}">精品文章</a>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{% include weibo_share.html %}
{% include comments_duoshuo.html %}
<a href="{{ site.baseurl }}/index.html">Go back</a>
