<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta name="author" content="管宜尧, mylxsw, code.404, arsenals">
    <meta name="keywords" content="{{ page.title }}, AiCode, 管宜尧 , Arsenals, {{page.tags}}">

    {% comment %} 如果包含页面标题，则使用标题作为title，否则使用站点标题 {% endcomment %}
    {% if page.title %}
        <title>{{ page.title }} - {{ site.site_name }}</title>
    {% else %}
        <title>{{ site.site_title }}</title>
    {% endif %}

    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.base_url }}/assets/vendor/Flat-UI/dist/css/flat-ui.css" rel="stylesheet">

    <link href="{{ site.base_url }}/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ site.base_url }}/assets/vendor/Flat-UI/dist/js/vendor/html5shiv.js"></script>
    <script src="{{ site.base_url }}/assets/vendor/Flat-UI/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">

    {% include navbar %}

    <div class="container-fluid">
        <div class="row">
            {% comment %} 捕获页面主体内容，用于下面根据是否显示侧边栏显示 {% endcomment %}
            {% capture body %}
                {% if page.title %}
                    <div class="focus-post">
                    <h3 class="title">{{page.title}}</h3>
                    <div class="info">
                        本文由 <a href="http://weibo.com/code404" alt="微博" title="微博" data-toggle="tooltip" data-placement="bottom">管宜尧</a> 发布于 {{ page.date | date: "%F" }} 
                    </div>
                    <section class="ai-link-rewrite" id="blog_content">
                {% endif %}

                {{ content }}

                {% if page.title %}
                        <p>[<a href="{{ site.production_url }}">{{ site.site_name | upcase }}</a> 原创文章, 作者 {{page.author}}]</p>
                    </section>
                    </div>
                {% endif %}

                {% include comments_duoshuo %}
                {% include comments_disqus %}
            {% endcapture %}

            {% if page.sidebar %}

                <div class="col-sm-9 blog-main">
                    {{ body }}
                </div>

                <div class="col-sm-3 blog-sidebar hidden-xs">
                    {% include sidebar %}
                </div>

            {% else %}
                {{ body }}
            {% endif %}

        </div><!-- /.row -->

    </div><!-- /.container -->


    <footer>
        <a href="http://www.miitbeian.gov.cn" target="_blank">{{ site.icp }}</a>
        Copyright &copy;2015
        <a href="{{ site.base_url }}" target="_blank">{{ site.site_name }}</a>
        <script src="http://v1.cnzz.com/z_stat.php?id=1000419659&web_id=1000419659" language="JavaScript"></script>
</div> <!-- /container -->

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ site.base_url }}/assets/vendor/Flat-UI/dist/js/flat-ui.min.js"></script>

<script src="{{ site.base_url }}/assets/js/app.js"></script>

</body>
</html>
